@font-face {
  font-family: "SegoeUI";
  src: url("./fonts/SegoeUI.ttf");
}

html {
  font-family: "SegoeUI", Arial, Helvetica, sans-serif;
  color: rgb(14, 14, 14);
  font-size: 18px;
}

body {
  /* background-image: url("/images/back_stars2.png"); */
  /* background-size: contain; */
  /* background-color: rgb(248, 236, 255); */
  /* background: linear-gradient(to bottom right, rgba(151, 243, 189, 1), rgba(247, 168, 230, 1)); */
  /* background-repeat: repeat;
  background-size: 25%; */
  margin: 0;
  line-height: 1.1;
  /* height: 100vh; */
}

/* TEXT */
.bold {
  font-weight: bold;
}

.page-title {
  width: 100%;
  background-color: rgb(43, 18, 66);
  color: rgb(255, 255, 255);
  font-weight: bold;
  box-sizing: border-box;
  padding: 8px;
}

.page-subtitle {
  width: 100%;
  background-color: rgb(196, 0, 214);
  color: rgb(255, 255, 255);
  font-weight: bold;
  box-sizing: border-box;
  margin: 0;
  margin-top: 8px;
  padding: 5px;
  border-radius: 3px;
}

.page-subtitle-section {
  width: 100%;
  font-weight: bold;
  box-sizing: border-box;
  margin: 8px 0;
}

/* MARGIN */
.m-b-1rem {
  margin-bottom: 1rem;
}

.m-b-2rem {
  margin-bottom: 2rem;
}

.m-03rem {
  margin: .3rem;
}

.m-t-03rem {
  margin-top: .3rem;
}

/* PADDING */
.px-1rem {
  padding: 0 1rem;
}

.p-05rem {
  padding: .5rem;
}

/* ALIGNMENT */
.a-center {
  align-items: center;
}

.j-center {
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.align-center {
  text-align: center;
}

.flex-direction-column {
  flex-direction: column;
}

/* OPACITY, VISIBILITY AND DISPLAY */
.opacity02 {
  opacity: 0.2;
}

.d-flex {
  display: flex;
}

/* ERRORS */
#error-message {
  width: 80%;
  font-size: 0.8rem;
  color: rgb(209, 0, 0);
  border: 2px double rgb(255, 164, 164);
  background-color: rgb(255, 219, 219);
  padding: 0.8rem;
  box-shadow: 0 2px 3px rgba(46, 46, 46, 0.4);
  border-radius: 3px;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
}

/* SIZE */
.w-100 {
  width: 100%;
}