.spinner-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.spinner-img {
  margin: 0 .5rem;
}

.spinner-text {
  color: rgb(212, 57, 212);
  font-weight: bold;
}