.card {
  width: 104px;
  height: 130px;
  border-radius: 8px;
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
  font-size: .8rem;
  font-family: 'SegoeUI', Arial, Helvetica, sans-serif;
  font-weight: bold;
  overflow-wrap: break-word;

  &.answer {
    background-color: rgb(255, 255, 255);
    
    .card-content {
      color: rgb(0, 0, 0);
    }
  }
  
  &.question {
    background-color: rgb(111, 29, 136);

    .card-content {
      color: rgb(255, 255, 255);
    }  
  }

  &.interactive {
    background-color: rgba(0, 0, 0, .1);
    border: 2px rgb(114, 114, 114) inset;
  }
}