.modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#modal-winner, #modal-loading {
  padding: 2rem;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.85);
  width: 90%;
  min-height: 200px;
  text-align: center;
  border-radius: 10px;
  border: 5px solid #fff;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, rgba(167, 45, 238, 1), rgba(255, 255, 255, 1), rgba(247, 84, 165, 1), rgba(255, 255, 255, 1));
  background-size: 200vw;
  -webkit-animation: background-animation 15s alternate-reverse infinite;
  -moz-animation: background-animation 15s alternate-reverse infinite;
  animation: background-animation 15s alternate-reverse infinite;
}

#modal-loading {
  background: #fff;
  height: 100%;
  box-sizing: border-box;
  border-radius: 0;
  width: 100%;
}

#modal-gameover {
  background: #fff;
  height: 100%;
  box-sizing: border-box;
  border-radius: 0;
  width: 100%;
  background: linear-gradient(0deg, rgba(167, 45, 238, 1), rgba(247, 84, 165, 1), rgba(255, 255, 255, 1));
  color: #fff;

  h2 {
    font-size: 3rem;
    text-shadow: 0 4px 4px rgba(49, 49, 49, .7);
    color: yellow;
  }

  h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-shadow: 0 4px 4px rgba(49, 49, 49, .7);
  }

  h6 {
    font-weight: 400;
    font-size: .9rem;
    color: #000;
  }
}

#timer {
  display: flex;
  position: fixed;
  background-color: rgb(189, 29, 221);
  box-shadow: 0 4px 4px rgba(49, 49, 49, .7);
  color: #fff;
  font-weight: bold;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-sizing: border-box;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
}

.winner-title {
  margin-bottom: 1rem;
}

.winner-name {
  font-size: 1.2rem;
}

.winner-content {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: rgb(99, 29, 139);
}

.loading-message {
  margin-bottom: 1rem;
}

// ANIMATIONS
@-webkit-keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// FIREWORKS EFFECT
/* --------- FIREWORKS ---------- */

$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
               random($width)-$width / 2 + px
               random($height)-$height / 1.2 + px
               hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff
}
@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-delay ($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
}

@mixin animation-duration ($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
}

@mixin animation ($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform ($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}

.fade.modal.show {
  background-color: rgba(0, 0, 0, 0.8);
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}
    
.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}
        
@include keyframes(bang) {
  to {
    box-shadow:$box-shadow;
  }
}
    
@include keyframes(gravity)  {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}
    
@include keyframes(position) {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {  
    margin-top: 20%;
    margin-left: 70%
  }
  60%, 79.9% {  
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {  
    margin-top: 30%;
    margin-left: 80%;
  }
}