.modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

#modal-winner, #modal-loading {
  padding: 2rem;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.85);
  width: 90%;
  min-height: 200px;
  text-align: center;
  border-radius: 10px;
  border: 5px solid #fff;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, rgba(167, 45, 238, 1), rgba(255, 255, 255, 1), rgba(247, 84, 165, 1), rgba(255, 255, 255, 1));
  background-size: 200vw;
  -webkit-animation: background-animation 15s alternate-reverse infinite;
  -moz-animation: background-animation 15s alternate-reverse infinite;
  animation: background-animation 15s alternate-reverse infinite;
}

#modal-loading {
  background: #fff;
  height: 100%;
  box-sizing: border-box;
  border-radius: 0;
  width: 100%;
}

.winner-title {
  margin-bottom: 1rem;
}

.winner-name {
  font-size: 1.2rem;
}

.winner-content {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: rgb(99, 29, 139);
}

.loading-message {
  margin-bottom: 1rem;
}

// ANIMATIONS
@-webkit-keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}