#cardsarea {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}