#cardsarea {
  background-color: rgba(0, 0, 0, .1);
  padding: 15px 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  .message-small {
    font-size: .6rem;
    padding: 0 15px;
    padding-bottom: 13px;
    width: 100%;
    text-align: right;
  }

  .message-large {
    margin: 1rem;
    text-align: center;
  }
}

