.reset-container {
  padding: 0 10px;
}

.reset-instructions {
  font-size: .9rem;
  margin-bottom: 20px;
}

.reset-button {
  padding: 7px 20px;
  border: none;
  outline: none;
  background-color: purple;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 5px 8px rgba($color: #818181, $alpha: 0.5);
}