h2 {
  margin: 1.2rem 0;
}

table {
  width: 100%;
  text-align: center;

  td {
    padding: 0 2px;
    vertical-align: middle;

    &:last-child {
      button {
        &:hover {
          background-color: rgb(255, 213, 74);
        }
      }
    }

    &:nth-child(4) {
      button {
        &:hover {
          // background-color: rgb(255, 206, 231);
          background-color: rgb(197, 233, 97);
        }
      }
    }
  }

  tr {
    height: 1.5rem;

    th {
      font-weight: bold;
    }

    &.data-row {
      height: 2rem;
    }
  }

  .game-options-btn {
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    padding: 0;
    border-radius: 50%;
    box-shadow: 0 3px 2px rgba(110, 110, 110, 0.4);

    &.in-progress-btn {
      border-radius: 5px;
      padding: 3px 8px;
      box-shadow: none;
    }

    .button-icon {
      width: 50px;

      &:focus {
        outline: none;
      }
    }

    &:disabled {
      background-color: rgb(233, 233, 233);
      color: rgb(187, 187, 187);
      font-weight: normal;
    }

    &:focus {
      outline: none;
      transform: scale(.8, .8);
    }
  }
}

#game-message-waiting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  animation-name: "background-change";
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 3px 4px 2px rgb(194, 194, 194);

  p {
    margin: 0 0.8rem;
  }
}

#star-icon {
  width: 35px;
  animation-name: "rotate";
  animation-duration: 4s;
  animation-iteration-count: infinite;
  border-radius: 50%;
}

#game-btn-div {
  display: flex;
  flex-direction: column;
}

#game-btn-cancel,
#game-btn-start {
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  font-size: 1rem;
}

#game-btn-start {
  background-color: rgb(47, 160, 94);
  color: rgb(255, 255, 255);
  margin-bottom: 0.5rem;
}

// ---- ANIMATIONS ----

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes background-change {
  0% {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: solid 2px rgb(123, 30, 209);
  }

  100% {
    background-color: rgb(123, 30, 209);
    color: rgb(255, 255, 255);
    border: dashed 2px rgb(255, 255, 255);
  }
}
